@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-books{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    justify-items: center;
}

.min-with-150{
    min-width: 300px;
}